@*route: base_url/employeelist*@
@*@page "/EmployeeList"*@

@*route: base_url/employees/employeelist*@
@*@page "EmployeeList"*@

@*route parameters:base_url/employees/name*@
@*name has no constraints*@
@*@page "{name}"*@

@*route parameters:base_url/employees/name*@
@*name is alphabet*@
@*@page "{name:alpha}"*@

@page

@model RazorPagesTutorial.Pages.Employees.IndexModel
@{
    ViewData["Title"] = "Index Page";
}
@*inline style*@
<style>
    .btn {
        width: 75px;
    }
</style>
<h1>Employees Index Page</h1>
<div class="card-deck">
    @foreach (var employee in Model.Employees)
    {
        @*?? - null coalescing operator*@
        var photoPath = "~/images/" + (employee.PhotoPath ?? "noimage.png");
        <div class="card m-3" style="min-width: 18rem; max-width: 30.5%">
            <div class="card-header">
                <h3>@employee.Name</h3>
            </div>
            @*<img class="card-img-top img-thumbnail" src="@photoPath" asp-append-version="true" />*@
            <img class="card-img-top imgThumbnail" src="@photoPath" asp-append-version="true" />
            <div class="card-footer text-center">
                <a 
                    asp-page="/Employees/Details"
                    asp-route-ID="@employee.Id"
                    class="btn btn-primary m-1">view</a>
                <a href="#" class="btn btn-warning m-1">edit</a>
                <a href="#" class="btn btn-danger m-1">delete</a>
            </div>
        </div>
    }
</div>