@*route: base_url/employeelist*@
@*@page "/EmployeeList"*@

@*route: base_url/employees/employeelist*@
@*@page "EmployeeList"*@

@*route parameters:base_url/employees/name*@
@*name has no constraints*@
@*@page "{name}"*@

@*route parameters:base_url/employees/name*@
@*name is alphabet*@
@*@page "{name:alpha}"*@

@page

@model RazorPagesTutorial.Pages.Employees.IndexModel
@{
    ViewData["Title"] = "Index Page";
    ViewData["ShowButtons"] = true;
}
@*inline style*@
<style>
    .btn {
        width: 75px;
    }
</style>
@*no parameter passed to view component*@
@*@await Component.InvokeAsync("HeadCount")*@
@*<vc:head-count dept-name="null"></vc:head-count>*@
<vc:head-count dept-name="@null"></vc:head-count>
<h1>Employees Index Page</h1>
<div class="card-deck">
    @foreach (var employee in Model.Employees)
    {
        <partial name="Shared/_DispalyEmployeePartial" model="employee" view-data="ViewData" />
    }
</div>