@page
@model RazorPagesTutorial.Pages.NotFoundModel
@{
    ViewData["Title"] = "NotFound page";
}
<h1>The resource you're looking for can't be found</h1>
<a asp-page="/Employees/Index" class="btn btn-primary">go to employees home page</a>